<!DOCTYPE html>
<html xmlns:th="https://thymeleaf.org/">
<head>
    <title>Title</title>
    <meta charset="UTF-8">

    <link rel="stylesheet" type="text/css" href="../../../../css/bootstrap.min.css"/>
</head>
<body>
<div class="container">
    <form method="post">
        <div class="row mb-3">
            <div class="col-12">
                <label class="form-label" for="order">Введите номер остановки:</label>
                <input class="form-control" type="number" name="order" id="order" th:value="${stop.order}" required/>
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-12">
                <label class="form-label" for="station">Введите номер станции:</label>
                <input class="form-control" type="number" name="station" id="station" th:value="${stop.station.id}" required/>
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-12">
                <label class="form-label" for="timeOfArrival">Введите время прибытия поезда:</label>
                <input class="form-control" type="time" name="timeOfArrival" id="timeOfArrival" th:value="${stop.timeOfArrival}" required/>
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-12">
                <label class="form-label" for="timeOfDepart">Введите время отправки поезда:</label>
                <input class="form-control" type="time" name="timeOfDepart" id="timeOfDepart" th:value="${stop.timeOfDepart}" required/>
            </div>
        </div>
        <div class="d-grid gap-1">
            <button class="btn btn-success mb-2" type="submit">Создать</button>
            <button class="btn btn-secondary" type="reset">Очистить</button>
        </div>
    </form>
</div>
</body>
</html>