<!DOCTYPE html>
<html xmlns:th="https://thymeleaf.org">
<head>
  <title>Title</title>
  <meta charset="UTF-8">

  <link rel="stylesheet" type="text/css" href="../../css/bootstrap.min.css"/>
</head>
<body>
<div class="container">
  <form method="post">
    <div class="row">
      <div class="col-12">
        <label class="form-label" for="name">Enter route name:</label>
        <input class="form-control" type="text" name="name" id="name" th:value="${route.name}" required/>
      </div>
    </div>
    <div class="row mb-3">
      <div class="col-12">
        <label class="form-label" for="distancePrice">Enter price of distance:</label>
        <input class="form-control" type="number" name="distancePrice" id="distancePrice" th:value="${route.distancePrice}" required/>
      </div>
    </div>
    <div class="d-grid gap-1 mt-2">
      <button class="btn btn-success mb-2" type="submit">Save</button>
      <button class="btn btn-secondary" type="reset">Clear</button>
    </div>
  </form>
</div>
</body>
</html>