<!DOCTYPE html>
<html xmlns:th="https://thymeleaf.org">
<head>
  <title>Title</title>
  <meta charset="UTF-8">

  <link rel="stylesheet" type="text/css" href="../css/bootstrap.min.css"/>
</head>
<body>
<div class="container">
  <table class="table table-dark table-hover">
    <thead>
      <tr>
        <td>
          <strong>#</strong>
        </td>
        <td>
          <strong>Название маршрута</strong>
        </td>
        <td>
          <strong>Действия</strong>
        </td>
      </tr>
    </thead>
    <tbody>
      <tr th:each="route : ${routes}">
        <td th:text="${route.id}"></td>
        <td th:text="${route.name}"></td>
        <td>
          <a th:href="|route/${route.id}|">Просмотр</a>
          <a th:href="|route/${route.id}/edit|">Изменить</a>
          <a th:href="|route/${route.id}/delete|">Удалить</a>
        </td>
      </tr>
    </tbody>
  </table>
  <div class="row">
    <div class="col-12">
      <div class="d-grid gap-1">
        <a class="btn btn-success" href="route/create">Cоздать</a>
      </div>
    </div>
  </div>
</div>
</body>
</html>